In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
wim01 = pd.read_excel('201901WIM.xlsx')

In [6]:
wim02 = pd.read_excel('201902WIM.xlsx')

In [7]:
wim03 = pd.read_excel('201903WIM.xlsx')

In [8]:
wim04 = pd.read_excel('201904WIM.xlsx')

In [9]:
wim03 = wim03.append(wim04, ignore_index=True)

In [10]:
wim02 = wim02.append(wim03, ignore_index=True)

In [12]:
wimdata = wim01.append(wim02, ignore_index=True)

In [13]:
wimdata.head(10)

,검측일시,차로번호,일련번호,속도,축수,총중량,1축중량,2축중량,3축중량,4축중량,...,전장,앞내민길이,1축2축간거리,2축3축간거리,3축4축간거리,4축5축간거리,5축6축간거리,6축7축간거리,7축8축간거리,뒤내민길이
0,20190101000100100,1,3,8917,2,165,82,83,0,0,...,7570.0,1090.0,2930.0,0.0,0.0,0.0,0.0,0.0,0.0,3550.0
1,20190101000146400,2,1,7676,2,1310,522,788,0,0,...,10240.0,1430.0,4810.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.0
2,20190101000503200,1,8,10468,2,160,89,71,0,0,...,7570.0,950.0,2760.0,0.0,0.0,0.0,0.0,0.0,0.0,3860.0
3,20190101000519700,1,9,8270,2,154,91,63,0,0,...,7160.0,1080.0,2790.0,0.0,0.0,0.0,0.0,0.0,0.0,3290.0
4,20190101000730900,2,15,11850,2,173,89,84,0,0,...,7970.0,860.0,2890.0,0.0,0.0,0.0,0.0,0.0,0.0,4220.0
5,20190101000829800,1,14,8357,2,134,83,51,0,0,...,6890.0,960.0,2670.0,0.0,0.0,0.0,0.0,0.0,0.0,3260.0
6,20190101000942600,2,20,10089,2,330,122,208,0,0,...,8170.0,1240.0,2600.0,0.0,0.0,0.0,0.0,0.0,0.0,4330.0
7,20190101001449900,1,23,14075,2,158,97,61,0,0,...,8050.0,870.0,2630.0,0.0,0.0,0.0,0.0,0.0,0.0,4550.0
8,20190101001730300,2,35,6351,3,2700,710,995,995,0,...,13850.0,1810.0,5630.0,1280.0,0.0,0.0,0.0,0.0,0.0,5130.0
9,20190101001753200,1,28,9680,2,188,102,86,0,0,...,7560.0,1100.0,2680.0,0.0,0.0,0.0,0.0,0.0,0.0,3780.0

In [14]:
wimdata.shape

(2557238, 25)

In [15]:
wim01.shape

(615856, 25)

In [77]:
wimdata.dtypes

검측일시        object
차로번호         int64
일련번호         int64
속도           int64
축수           int64
총중량          int64
1축중량         int64
2축중량         int64
3축중량         int64
4축중량         int64
5축중량         int64
6축중량         int64
7축중량         int64
8축중량         int64
차종         float64
전장         float64
앞내민길이      float64
1축2축간거리    float64
2축3축간거리    float64
3축4축간거리    float64
4축5축간거리    float64
5축6축간거리    float64
6축7축간거리    float64
7축8축간거리    float64
뒤내민길이      float64
date        object
Hour        object
speed      float64
time        object
dtype: object

In [30]:
wimdata['검측일시']=wimdata['검측일시'].astype(str)

In [32]:
wimdata['date'] = wimdata['검측일시'].str[:8]

In [88]:
wimdata.head(10)

,검측일시,차로번호,일련번호,속도,축수,총중량,1축중량,2축중량,3축중량,4축중량,...,3축4축간거리,4축5축간거리,5축6축간거리,6축7축간거리,7축8축간거리,뒤내민길이,date,Hour,speed,time
0,20190101000100100,1,3,8917,2,165,82,83,0,0,...,0.0,0.0,0.0,0.0,0.0,3550.0,20190101,00,89.17,2019-01-01 00:01:00
1,20190101000146400,2,1,7676,2,1310,522,788,0,0,...,0.0,0.0,0.0,0.0,0.0,4000.0,20190101,00,76.76,2019-01-01 00:01:46
2,20190101000503200,1,8,10468,2,160,89,71,0,0,...,0.0,0.0,0.0,0.0,0.0,3860.0,20190101,00,104.68,2019-01-01 00:05:03
3,20190101000519700,1,9,8270,2,154,91,63,0,0,...,0.0,0.0,0.0,0.0,0.0,3290.0,20190101,00,82.70,2019-01-01 00:05:19
4,20190101000730900,2,15,11850,2,173,89,84,0,0,...,0.0,0.0,0.0,0.0,0.0,4220.0,20190101,00,118.50,2019-01-01 00:07:30
5,20190101000829800,1,14,8357,2,134,83,51,0,0,...,0.0,0.0,0.0,0.0,0.0,3260.0,20190101,00,83.57,2019-01-01 00:08:29
6,20190101000942600,2,20,10089,2,330,122,208,0,0,...,0.0,0.0,0.0,0.0,0.0,4330.0,20190101,00,100.89,2019-01-01 00:09:42
7,20190101001449900,1,23,14075,2,158,97,61,0,0,...,0.0,0.0,0.0,0.0,0.0,4550.0,20190101,00,140.75,2019-01-01 00:14:49
8,20190101001730300,2,35,6351,3,2700,710,995,995,0,...,0.0,0.0,0.0,0.0,0.0,5130.0,20190101,00,63.51,2019-01-01 00:17:30
9,20190101001753200,1,28,9680,2,188,102,86,0,0,...,0.0,0.0,0.0,0.0,0.0,3780.0,20190101,00,96.80,2019-01-01 00:17:53

In [86]:
wimdata['time'] = wimdata['검측일시'].str[0:14]

In [87]:
wimdata['time'] = pd.to_datetime(pd.Series(wimdata['time']), format="%Y%m%d%H%M%S")

In [63]:
wimdata['speed'] = wimdata['속도'] / 100

In [89]:
##grouped = wimdata.groupby(pd.TimeGrouper(freq='10Min')).aggregate(np.mean)
## 5분 통계를 만드는 방법은 ???

AttributeError: module 'pandas' has no attribute 'TimeGrouper'

In [90]:
# Year와 Make를 기준으로 (kW) 컬럼의 평균값을 구한다.
# 그 다음 피벗 테이블을 만드는 데 index(행) = YEAR, column(열) = Make 로 한다.
pivot = wimdata.pivot_table(values=['speed','검측일시'], index=['date','Hour'], columns='차로번호', aggfunc={'speed':np.mean, '검측일시':'count'})

SyntaxError: invalid syntax (<ipython-input-90-19282904d0ce>, line 3)

In [66]:
pivot.head(10)

                    speed                   검측일시
차로번호                    1          2    3      1      2    3
date     Hour
20190101 00    104.465189  88.258400  NaN  106.0  125.0  NaN
         01    104.139072  89.744261  NaN   97.0  115.0  NaN
         02    102.211207  87.666154  NaN   58.0   91.0  NaN
         03    104.448627  90.666479  NaN   51.0   71.0  NaN
         04    105.274941  89.937653  NaN   85.0   98.0  NaN
         05    103.742222  91.223432  NaN  171.0  169.0  NaN
         06    103.862534  90.794541  NaN  221.0  196.0  NaN
         07    102.947644  88.798585  NaN  225.0  205.0  NaN
         08     97.164596  87.662835  NaN  322.0  261.0  NaN
         09     93.713458  86.115211  0.0  590.0  426.0  1.0

In [67]:
pivot.shape

(2880, 6)